/* AJZ - Willow Creek */
.rule { height: 2px; background-color: #D5D5D5; }
.rule5 { height: 2px; background-color: #D5D5D5; margin-top:5px; margin-bottom:5px; }
.rule15 { height: 2px; background-color: #D5D5D5; margin-top:15px; margin-bottom:15px; }
.rule30 { height: 2px; background-color: #D5D5D5; margin-top:30px; margin-bottom:30px; }
